
#main-navbar {
}

#onpage {
  text-decoration: underline overline;
}

#navbar-container {
}

#sidebar {
  position: fixed;
  right:0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}